@font-face {
  font-family: "BratonComposer";
  src: url("./assets/BratonComposer-Regular.ttf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "BratonComposer", sans-serif;
  font-size: 2rem;
}

a {
  color: #92a8d1;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 5px solid #80461b;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin: 5px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container img {
  max-width: 500px;
  margin: 5px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.home-container a:hover img {
  opacity: 0.3;
}

.home-container a:hover p {
  opacity: 1;
}

.home-container a p {
  background-color: teal;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  margin: 5px;
  text-align: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.nav-bar {
  width: 100%;
  border: none;
  border-style: none;
  margin: 0;
  padding: 0;
}

.home-icon {
  width: 50px;
  height: 50px;
}

.beers-list-container img,
.beer-detail img {
  min-width: 100px;
  max-width: 100px;
  height: auto;
}

.eachBeer-item {
  width: 20%;
  height: auto;
  border: 1px solid #80461b;
}

.eachBeer-item p {
  font-size: 1rem;
}

.beers-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.beers-list-container p {
  width: 50%;
}

.beers-list-container a {
  font-size: 1rem;
  color: teal;
  width: 50%;
}

.middle p span {
  color: teal;
}

.middle p {
  font-size: 1rem;
}

.each-beer-detail-item img {
  min-width: 100px;
  max-width: 100px;
  height: auto;
}

.middle span:nth-child(2) {
  /* Stil ayarlamaları buraya gelecek */
  color: #80461b;
}

.beer-details-container,
.random-beer-container {
  width: 100%;
  text-align: center;
  padding: 20px; /* İsteğe bağlı: Container'ın içeriğe olan boşluğunu ayarlamak için */
}

.middle {
  display: inline-block;
  text-align: left; /* Eğer içeriği sola hizalamak istiyorsanız */
}

input {
  border-color: #80461b;
  border-radius: 5%;
}

label {
  color: teal;
}

.beers-list-container {
  position: relative;
  left: 10%;
}
